<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEigthBall" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/MagicEightBallService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEigthBall"
                contract="IEigthBall" name="BasicHttpBinding_IEigthBall" />
        </client>
    </system.serviceModel>
</configuration>